{% extends "base.html" %}  
{% load crispy_forms_tags %}

{% block css_add %}
<style>
    .btn-success:hover {
        background-color: #ff0004; 
    }

    body {
        background-color: rgb(241, 228, 141);
    }

    .form-container {
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}

{% block main %}
<h1 class="text-center">Are you want to Delete ??</h1>

<div>
    <form style="width: 50%; margin: auto;" method="post">
        {% csrf_token %}   
        {{ form|crispy }}
        <div class="form-container">
            <button class="btn btn-lg btn-danger mt-3" type="submit">Yes, Delete</button>
        </div>
    </form>
    <br><br>
</div>
{% endblock %}
